<div class="container">
  <div class="row">
    <div class="col-xl-6">
      <div class="image-container">
        <img src="/assets/login-image.jpg" alt="Login image">
      </div>
    </div>
    <div class="col-xl-6 form-container">
      <form [formGroup]="form" class="w-100">
        <div class="form-group">
          <label for="email">Email address</label>
          <input type="email" class="form-control" formControlName="email" id="email" placeholder="Enter email"
                 [ngClass]="{'is-invalid':  this.loginFailed || (this.form.controls.email.touched && this.form.controls.email.invalid)}">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" formControlName="password" id="password" placeholder="Password"
                 [ngClass]="{'is-invalid':  this.loginFailed || (this.form.controls.password.touched && this.form.controls.password.invalid)}">
        </div>
        <button (click)="submitForm()" class="btn btn-primary">Login</button>
        <button [routerLink]="'/register'" class="btn btn-outline-primary float-right">Register</button>
      </form>
      <re-captcha #captchaRef="reCaptcha" (resolved)="resolved($event)" errorMode="handled" siteKey="6Le2dzYaAAAAAPNlZUEHmcz6HZHwhKMu4fqwdHt5" size="invisible" ></re-captcha>
    </div>
  </div>
</div>
