.product-image {
  display: block;
  object-fit: contain;
  max-height: 200px;
  max-width: 10vw;
  width: auto;
  height: auto;
}

.remove-button {
  display: flex;

  img {
    height: 21px;
    margin-right: 3px;
  }
}

.quantity-input {
  min-width: 100px;

  input {
    width: 2.5rem;
    flex: none;
    text-align: center;
  }

  button {
    padding: 0;
    height: 31px;
    width: 31px;

    img {
      height: 100%;
      width: 70%;
    }
  }
}
