<div class="card">
  <img class="product-image card-img-top" src="{{ product.image }}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title mb-0">{{ product.title }}</h5>
    <small>&euro; {{ product.price }}</small>
    <p class="card-text mt-2">{{ product.description }}</p>

    <div class="input-group mb-3">
      <input [(ngModel)]="quantity" (keypress)="onlyIntegers($event)" type="number" class="form-control">
      <div class="input-group-append">
        <button (click)="addToCart()" class="btn btn-primary p-1" type="button">
          <img class="mx-1" src="/assets/shopping-bag-line.svg" alt=""></button>
      </div>
    </div>
  </div>
</div>
