<div class="container">
  <div class="row">
    <div class="col-xl-12">
      <div *ngIf="appService.cart.length == 0">
        Your shopping cart is empty
      </div>

      <div *ngIf="appService.cart.length > 0">
        <app-cart-item (updateTotalCartPrice)="getTotalCartPrice()" *ngFor="let cartItem of appService.cart" [cartItem]="cartItem"></app-cart-item>
        <hr>
        <div>Total: &euro; {{ totalPrice }}</div>
        <button *ngIf="appService.user" (click)="orderShoppingCart()" class="btn btn-success float-right">Order</button>
        <button *ngIf="!appService.user" [routerLink]="'/login'" class="btn btn-success float-right">Login to order</button>
      </div>
    </div>
  </div>
</div>
