.navbar-brand, .nav-link, .navbar-toggler {
  color: #FFF !important;
}

.nav-item > .nav-link, .nav-buttons > .nav-link {
  cursor: pointer;
}

.shopping-cart-icon{
  height: 40px;
  position: relative;

  span.quantity{
    font-size: 65%;
    background-color: white;
    color: black;
    position: absolute;
    right: 8px;
    bottom: 1px;
    padding-right: 0.4em;
    padding-left: 0.4em;
  }
}

@media only screen and (min-width: 992px) {
  .nav-button-text-replacement {
    display: none;
  }
}

@media only screen and (max-width: 991px) {
  .nav-buttons {
    display: none !important;
  }
}
